@charset "windows-1251";
html,
body {
  outline: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
  font-family: Verdana, Arial, sans-serif;
}
a {
  text-decoration: none;
  outline: none;
}
.top_div {
  background: #3399ff;
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header-text {
  float: left;
  vertical-align: text-top;
  padding: 6px 6px 6px 35px;
  font-size: 26px;
  font-weight: lighter;
  color: #ffffff !important;
  background: url("img/logo.png") no-repeat left center;
  margin: 0 50px 0 10px;
  cursor: pointer;
}
.top_btn {
  background: #198cff;
  font-size: 24pt;
  color: #ffffff;
  text-align: center;
  width: 55px;
  height: 45px;
  position: relative;
  float: left;
  margin-right: 2px;
  vertical-align: middle;
}
.auth_div {
  position: relative;
  top: 25%;
  padding: 40px 0 0 140px;
  margin: auto;
  background: url("img/auth_logo2.png") no-repeat left 20px center #3399ff;
  width: 230px;
  height: 120px;
  vertical-align: middle;
}
.auth_div input {
  border: none 0 !important;
  background: #ffffff;
  width: 200px;
  height: 30px;
  padding: 0 0 0 5px;
  position: relative;
  left: 0;
  top: 0;
  outline: none;
}
.auth_div div.ui-state-highlight {
  float: left;
  width: 16px;
  height: 26px;
  margin: 1px;
  border: 0;
  background: none;
}
.auth_div div.ui-state-highlight div {
  margin-top: 6px;
}
.auth_div .inputu {
  padding: 0;
  background: #ffffff;
  width: 260px;
  height: 30px;
}
.auth_div .inputu span:last-child {
  width: 27px;
  float: right;
  margin: 1px;
  height: 26px;
}
.auth_div .inputu span:last-child span:first-child {
  right: 0.4em;
}
.auth_div .inputp {
  background: #ffffff;
  padding: 0;
  width: 260px;
  height: 30px;
  margin-top: 15px;
}
.auth_div .inputp #auths {
  width: 25px;
  height: 26px;
  float: right;
  margin: 1px;
}
.adm_panel {
  display: table;
  position: absolute;
  background: #198cff;
  vertical-align: middle;
  height: 45px;
  line-height: 45px;
  right: 0;
  /* text-outline: 0;*/
  color: #ffffff;
  padding: 0 10px;
  float: right;
}
.top_btn:hover,
.adm_panel:hover {
  background: #007fff;
  cursor: pointer;
  color: #cce5ff;
}
.middle_div {
  position: fixed;
  top: 45px;
  height: calc(100% - 67px);
  width: 100%;
  background: #f5f6f7;
}
.error_div {
  position: fixed;
  top: 45px;
  left: 0;
  right: 0;
  border: dotted #F00 1px;
  background: #FFF;
  font-size: 20px;
  color: #F00;
  padding: 5px;
  margin: 5px;
}
.hidden {
  display: none;
  visibility: hidden;
}
#left_div {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  background: #ffffff;
  margin: 2px 0 0 2px;
  outline: none;
}
#left_div .ui-resizable-e {
  cursor: col-resize;
  width: 3px;
  border-right: 1px solid #bcc3ca;
  border-left: 1px solid #bcc3ca;
  background: #f5f6f7;
  right: 0px;
}
#tree {
  height: calc(100% - 2px);
  width: calc(100% - 6px);
  border: 1px solid #bcc3ca !important;
  border-right: none;
  outline: none;
}
#right_div {
  position: relative;
  top: 0;
  right: 0;
  background: #ffffff;
  margin: 2px 2px 0 0;
  border: 1px solid #bcc3ca;
  border-left: none;
}
#tree_objects {
  width: 100%;
  border: none;
  outline: none;
}
#tree_objects th {
  border: solid #a0aab3 1px;
  border-top: none;
  text-align: center;
  background: #f5f6f7;
}
#tree_objects td {
  border: dotted #cacaca 1px !important;
}
.bottom_div {
  background-color: #f5f6f7;
  font-size: 11px;
  position: fixed;
  height: 20px;
  bottom: 0;
  left: 0;
  border-top: solid 1px #d9dde0;
  z-index: 0;
  width: 100%;
}
.page_info {
  text-align: right;
  margin: 1px 1px 0;
  float: right;
  width: 100%;
  padding-right: 4px;
}
.ui-dialog {
  z-index: 100;
}
#locked_list {
  width: 100%;
}
#locked_list th {
  font-size: 10pt;
}
#locked_list th:first-child {
  width: 25px;
}
#locked_list th:last-child {
  width: 90px;
}
#locked_list tr td:last-child {
  text-align: center;
}
#cr_user_form input,
#cr_user_form textarea {
  width: 250px;
}
#cr_user_form tr td:first-child {
  white-space: nowrap;
}
.cr_user_form_arrows {
  text-align: right;
  margin-top: 5px;
}
.cr_user_form_arrows div {
  width: 28px;
  height: 28px;
  margin: 2px;
}
.cr_user_form_arrows div:last-child {
  float: right;
}
/* Fancytree improvments */
ul.fancytree-container {
  border: none;
  overflow: visible;
  outline: none;
}
.ui-menu kbd {
  float: right;
  margin-top: 2px;
}
.ui-menu-item {
  min-width: 140px;
  padding-right: 0 !important;
}
#cr_user_tabs {
  min-height: 280px;
}
