@charset "windows-1251";

@main_color:#39F;
@dark_main_color: darken(@main_color, 40%);
@ldark_main_color: @main_color - #330;
@panel_color:#f5f6f7;
@topdiv-height: 45px;


.set-hor-gradient (@color, @pc:15%) {
  background: -webkit-gradient(linear, left top, left bottom, from(lighten(@color, @pc)), to(darken(@color, @pc)));
  background: -moz-linear-gradient(top,  lighten(@color, @pc),  darken(@color, @pc));
  background: -o-linear-gradient(top,  lighten(@color, @pc),  darken(@color, @pc));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten(@color, @pc),
  endColorstr=darken(@color, @pc),GradientType=0);;
}

html, body {
  margin:0;
  padding:0;
  height: 100%;
  background: white;
  font-family:"Segoe UI", Helvetica, Verdana, sans-serif;
}

a {
  text-decoration:none;
}

.top_div {
  background: @main_color;
  height: @topdiv-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-text {
  float: left;
  vertical-align: text-top;
  padding:6px 6px 6px 35px;
  font-size:26px;
  font-weight: lighter;
  color:#ffffff !important;
  background: url("./img/logo.png") no-repeat left center;
  margin:0 50px 0 10px;
}
.top_btn {
  background: darken(@main_color, 5%);
  font-size: 24pt;
  color: #ffffff;
  text-align: center;
  width: 55px;
  height: @topdiv-height;
  position: relative;
  float: left;
  margin-right: 2px;
  vertical-align: middle;
}

.auth_div {
  @inp_div_h:30px;
  @inp_div_w:200px;
  position: relative;
  top: 100px;
  padding:40px 0 0 140px;
  margin: auto;
  background: url("./img/auth_logo2.png") no-repeat left+20px center @main_color;
  width: 230px;
  height: 120px;
  vertical-align: middle;
  input {
    border: none 0;
    background: #ffffff;
    width: @inp_div_w - 10px;
    height: @inp_div_h;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
  }
  .inputu {
    padding: 0 0 0 5px;
    background: #ffffff;
    width: @inp_div_w;
    height: @inp_div_h;
  }
  .inputp {
    background: #ffffff;
    padding: 0 0 0 5px;
    width: @inp_div_w;
    height: @inp_div_h;
    margin-top: 15px;
    input:first-child {
      width: @inp_div_w - 35px;
      height: @inp_div_h;
    }
    input:last-child {
      margin:2px;
      background: @main_color;
      color: #ffffff;
      width: 25px;
      height: @inp_div_h - 4px;
      float: right;
      font-size: large;
      font-weight: bold;
      cursor: pointer;
    }
  }
}


.adm_panel {
  display: table;
  position: absolute;
  background: darken(@main_color, 5%);
  vertical-align: middle;
  height: @topdiv-height;
  line-height: @topdiv-height;
  right: 0;
  text-outline: 0;
  color: #ffffff;
  padding: 0 10px;
  float: right;
}

.top_btn:hover, .adm_panel:hover {
  background: darken(@main_color, 10px);
  cursor: pointer;
  color: lighten(@main_color,30%);
}


.middle_div {
  position: fixed;
  top: @topdiv-height;
  height: ~"calc(100% - 67px)" ;
  width: 100%;
  background: @panel_color;
}


.error_div {
  position: fixed;
  top: @topdiv-height;
  left: 0;
  right: 0;
  border:dotted #F00 1px;
  background:#FFF;
  font-size:20px;
  color:#F00;
  padding:5px;
  margin: 5px;
}

.hidden {
  display:none;
  visibility:hidden;
}


#left_div {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  background: #ffffff;
  margin: 2px 0 0 2px;

}

#left_div .ui-resizable-e {
  cursor: col-resize;
  width: 3px;
  border-right: 1px solid darken(@panel_color, 20%);
  border-left: 1px solid darken(@panel_color, 20%);
  background: @panel_color;
  right: 0px;
}

#tree {
  height: ~"calc(100% - 2px)";
  width: ~"calc(100% - 6px)";
  border: 1px solid darken(@panel_color, 20%) !important;
  border-right: none;
}

#right_div {
  position: relative;
  top: 0;
  right: 0;
  background: #ffffff;
  margin: 2px 2px 0 0;
  border: 1px solid darken(@panel_color, 20%);
  border-left: none;
}

#tree_objects {
  width: 100%;
}


#tree_objects th {
  border: outset darken(@panel_color, 30%) 2px;
  border-top: none;
  text-align: center;
  background: @panel_color;
}

#tree_objects td {
  border: dotted #cacaca 1px !important;
}


.bottom_div {
  background-color:@panel_color;
  font-size: 11px;
  position: fixed;
  height: 20px;
  bottom: 0;
  left: 0;
  border-top: solid 1px darken(@panel_color, 10%) ;
  z-index: 0;
  width: 100%;
}
.page_info {
  text-align: right;
  margin: 1px 1px 0;
  float: right;
  width: 100%;
  padding-right: 4px;
}

.ui-dialog {
  z-index: 100;
}

#locked_list {
  width: 100%;
  th {
    font-size: 10pt;
  }
  th:first-child {
    width: 25px;
  }
  th:last-child {
    width: 90px;
  }
  tr td:last-child {
    text-align: center;
  }
}

/* Fancytree improvments */
ul.fancytree-container {
  border: none;
  overflow: visible;
}