@charset "windows-1251";

@main_color:#39F;
@dark_main_color: darken(@main_color, 40%);
@ldark_main_color: @main_color - #330;
@panel_color:#f5f6f7;
@topdiv-height: 45px;


.set-hor-gradient (@color, @pc:15%) {
  background: -webkit-gradient(linear, left top, left bottom, from(lighten(@color, @pc)), to(darken(@color, @pc)));
  background: -moz-linear-gradient(top,  lighten(@color, @pc),  darken(@color, @pc));
  background: -o-linear-gradient(top,  lighten(@color, @pc),  darken(@color, @pc));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lighten(@color, @pc),
  endColorstr=darken(@color, @pc),GradientType=0);;
}

html, body {
  margin:0;
  padding:0;
  height: 100%;
  background: white;
  font-family:"Segoe UI", Helvetica, Verdana, sans-serif;
}

a {
  text-decoration:none;
}

.top_div {
  background: @main_color;
  height: @topdiv-height;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-text {
  float: left;
  vertical-align: text-top;
  padding:6px 6px 6px 45px;
  font-size:26px;
  color:#ffffff !important;
  background: url("logo.png") no-repeat ;
}
.header-table2 {
  padding:5px;
  font-size:14px;
  float:right;
  text-decoration:none;
  color:@dark_main_color;
  @exit-text-col:#FF0000;
  a {
    color: @exit-text-col;
  }
}
.header-table {
  margin:0;
  padding: 0;
  float:right;
  font-size:12px;
  text-align:right;
  td:first-child {
    padding-right: 20px;
  }
  input {
    background:none;
    border:dotted 1px;
  }
  .header-submit {
    cursor:pointer;
    height: @topdiv-height - 2px;
    margin-left:2px;
    border:1px dotted #333 !important;
  }
}

.middle_div {
  position: fixed;
  top: 72px;
  height: ~"calc(100% - 95px)" ;
}


.error_div {
  display:none;
  border:dotted #F00 1px;
  background:#FFF;
  font-size:20px;
  color:#F00;
  width:95%;
  padding:5px;
  margin: 70px 10px 10px 10px;
}
.hidden {
  display:none;
  visibility:hidden;
}


#left_div {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  border-right: 3px double darken(@panel_color, 20%);
}

#tree {
  height: 100%;
}

#right_div {
  float: left;
  width: ~"calc(75% - 3px)";
}

#tree_objects {
  width: 100%;
}

#tree_objects th {
  border: outset #878787 2px;
  border-top: none;
  text-align: center;
  background: @panel_color;
}


#tree_objects td {
  border: dotted #cacaca 1px !important;
}

.top_menu {
  padding: 0;
  height:25px;
  position:fixed;
  top:@topdiv-height;
  left:0;
  width:100%;
  background-color: @panel_color;
  border-top:1px solid @ldark_main_color;
  border-bottom:1px solid @ldark_main_color;
  z-index: 10;
}
#create_user_btn {
  .set-hor-gradient(@panel_color);
  cursor:pointer;
  text-align: center;
  padding-top: 4px;
  margin: 0;
  width:200px;
}
#create_user_btn:hover {
  .set-hor-gradient(lighten(@main_color, 30%), 10%);
}
.bottom_div {
  background-color:@panel_color;
  font-size: 11px;
  position: fixed;
  height: 20px;
  bottom: 0;
  left: 0;
  border-top: groove 2px @ldark_main_color ;
  z-index: 10;
  width: 100%;
}
.page_info {
  text-align: right;
  float: right;
  width: 500px;
  margin-right: 5px;
}

/* Fancytree improvments */
ul.fancytree-container {
  border: none;
  overflow: visible;
}