<form action="./ajax/ad_create_user.php" id="cr_user_form">
<table>
    <tr>
        <td><label for="cr_user_surn">Фамилия: </label></td>
        <td><input style="width:370px" type="text" id="cr_user_surn" name="cr_user_surn"></td>
    </tr>
    <tr>
        <td><label for="cr_user_name">Имя: </label></td>
        <td><input style="width:370px" type="text" id="cr_user_name" name="cr_user_name"></td>
    </tr>
    <tr>
        <td><label for="cr_user_fullname">Полное имя: </label></td>
        <td><input style="width:370px" type="text" id="cr_user_fullname" name="cr_user_fullname"></td>
    </tr>
	<tr>
		<td><label for="cr_user_logon">Имя входа:</label> </td>
		<td><input style="width:370px" type="text" id="cr_user_logon" name="cr_user_logon"></td>
	</tr>
    <tr>
        <td><label for="cr_user_email">Электронная почта: </label></td>
        <td><input style="width:370px" type="text" id="cr_user_email" name="cr_user_email"></td>
    </tr>
    <tr>
        <td><label for="cr_user_pass">Пароль (дважды): </label></td>
        <td><input style="width: 175px" type="password" id="cr_user_pass" name="cr_user_pass"><input style="margin-left: 14px; width: 175px" type="password" id="cr_user_pass2" name="user_pass2"></td>
    </tr>
    <tr>
        <td><label for="cr_user_cont">Контейнер: </label></td>
        <td><input style="width:370px" type="text" readonly id="cr_user_cont" value="Выбрать слева" name="cr_user_cont"></td>
    </tr>
</table>
<input type="hidden" name="act" value="cr_user">
</form>