.validetta-bubble {
    position: absolute;
    background-color: #fef1ec;
    max-width: 325px;
    border-radius: 2px;
    color: #cd0a0a;
    padding: 3px 3px 3px 10px;
    z-index: 9;
    border: 1px solid #cd0a0a;
}
.validetta-bubble--right:before {
    top: 6px;
    left: -4px;
    /* border-color: transparent #cd0a0a transparent transparent; }*/

}
.validetta-bubble--bottom:before {
    top: -10px;
    left: 10px;
    border-color: transparent transparent #cd0a0a transparent; }

.validetta-bubble:before {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 5px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    transform: rotate(45deg);
    background: #FEF1EC;

}

.validetta-inline,
.validetta-bubble {
    display: block;
    font: 12px/14px Arial, Helvetica, sans-serif; }

.validetta-inline {
    color: #cd0a0a; }
